@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.conteiner {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    /* padding: 0 250px; */
}

.header {
    min-height: 769px;
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header_logo {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 316px;
}
.logo {
}
.header-h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5.71px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding-left: 13px;
    line-height: 95%;
    margin-bottom: 4px;
}
.header-p {
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.header-scpoll_down {
    color: #fff;
    font-size: 11px;
    letter-spacing: 0.35em;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    padding-left: 4px;
    margin-top: 220px;
    padding-bottom: 70px;
}

.navbar {
}
.navbar::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
    display: block;
}
.navbar::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
    display: block;
    margin-top: 10px;
}
.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}
.navbar-flex-logo{
    padding-top: 4px;
}
.navbar-flex-left {
}
.navbar-flex-right {
}
.navbar-ul {
    display: flex;
    gap: 40px;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 12px;
}
.navbar-ul-li > a:hover {
    color: #00A4E5;
}
.navbar-ul-li > a {
    color: #48555B;
    text-decoration: none;
    transition: 0.3s;
}
@media screen and (max-width: 560px) {
    .navbar-ul {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
}

.about {
}
.about-h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.31px;
    text-align: center;
    color: #48555B;
    padding-top: 58px;
}
.about-h2::after{
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto 0px;
}
.about-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
}
.about-flex-left {
    
}
.about-flex-left-h3 {
    font-weight: bold;
    font-size: 20px;
    color: #48555B;
    max-width: 406px;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
}
.color-text {
    color: #00A4E5;
}
.about-flex-left-p {
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    max-width: 406px;
}
.about-flex-right {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}
.about-flex-right-item {
    line-height: 29px;
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    padding: 15px;
}
.about-flex-right-item:nth-child(1) {
    background-image: url(../img/we_plan.png);
}
.about-flex-right-item:nth-child(2) {
    background-image: url(../img/we_manage.png);
}
.about-flex-right-item:nth-child(3) {
    background-image: url(../img/we_build.png);
}

/* @media screen and (max-width: 1440px) {
    .conteiner {
        padding: 0 250px;
    }
    .about-flex {
        justify-content: space-between;
    }
} */
@media screen and (max-width: 1024px) {
    .conteiner {
        padding: 0 15px;
    }
    .about-flex {
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 500px) {
    .about-flex-right {
        flex-wrap: wrap;
    }
}

.navbar {
}
.conteiner {
}
.navbar-flex {
}
.navbar-flex-left {
}
.navbar-flex-right {
}
